  <div class="background-image">
    <div class="slogan-container">
      <p class="slogan">Crafting Furniture, Creating Comfort</p>
      <button class="btn btn-outline-success">Shop Now</button>
    </div>
    <div class="container1">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <div class="imgwrapper">
              <img src="./images/A1.png" class="d-block w-90" alt="...">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="imgwrapper">
              <img src="./images/A2.png" class="d-block w-90" alt="...">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="imgwrapper">
              <img src="./images/A3.png" class="d-block w-90" alt="...">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <section >
    <div class="new-arrivals">
      <div class="box text-box">
          <h3>New Arrivals</h3>
          <p>Check out our latest collection of furniture!</p>
          <button class="view-more-btn">View More <i class="fas fa-arrow-right"></i></button>
      </div>
      <div class="box">
          <img src="./images/NEW1.png" alt="Product 1">
      </div>
      <div class="box">
          <img src="./images/NEW2.png" alt="Product 2">
      </div>
      <div class="box">
          <img src="./images/NEW3.png" alt="Product 3">
      </div>
  </div>  
    <div class="container" class="landing" >
    <div class="row about-us" style="padding: 5%;">
        <div class="col-md-5">
            <div class="image">
                <img src="./images/about.svg" alt="Description of the image" class="img-fluid">
            </div>
        </div>
        <div class="col-md-7">
            <div class="text">
                <h2 class="heading">About Us</h2>
                <p>Welcome to Furniture Co., your destination for quality home furnishings at affordable prices. With a passion for design and a commitment to excellence, we offer a curated selection of stylish and functional furniture pieces. From contemporary sofas to timeless dining sets, our collection caters to every taste and lifestyle. At Furniture Co., we prioritize customer satisfaction, providing personalized service and expert advice to help you create your dream space.</p>
                <button class="btn btn-outline-success">Contact Us</button>
            </div>
        </div>
    </div>
  </div>
  <div class="categories" class="landing">
    <div class="wrapper">
      <div class="card">
        <img src="./images/dining.jpg" alt="diningimg">
        <div class="info">
          <h1>DINING</h1>
          <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos omnis obcaecati ex ad soluta repellendus!
          </P>
          <a href="#" class="btn">Read More</a>
        </div>
        <h2 class="heading-overlay">DINING</h2>
      </div>
      <div class="card">
        <img src="./images/bedroom.jpg" alt="diningimg">
        <div class="info">
          <h1>BEDROOM</h1>
          <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos omnis obcaecati ex ad soluta repellendus!
          </P>
          <a href="#" class="btn">Read More</a>
        </div>
        <h2 class="heading-overlay">BEDROOM</h2>
      </div>
      <div class="card">
        <img src="./images/outdoor.jpg" alt="diningimg">
        <div class="info">
          <h1>OUTDOOR</h1>
          <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos omnis obcaecati ex ad soluta repellendus!
          </P>
          <a href="#" class="btn">Read More</a>
        </div>
        <h2 class="heading-overlay">OUTDOOR</h2>
      </div>
      <div class="card">
        <img src="./images/living.jpg" alt="diningimg">
        <div class="info">
          <h1>LIVING</h1>
          <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos omnis obcaecati ex ad soluta repellendus!
          </P>
          <a href="#" class="btn">Read More</a>
        </div>
        <h2 class="heading-overlay">LIVING</h2>
      </div>
    </div>
  </div>
  </section>
  <div class="why">
    <p class="heading">WHY CHOOSE US ?</p>
    </div>
    <div class="contact-info">
      <div>
          <span><i class="fas fa-shopping-cart"></i></span>
          <span>Fast Delivery</span>
          <span class="text">Lorem ipsum dolor sit amet.</span>
      </div>
      <div>
          <span><i class="fas fa-truck"></i></span>
          <span>Free Shipping</span>
          <span class="text">Lorem ipsum dolor sit amet consectetur.</span>
      </div>
      <div>
          <span><i class="fas fa-shield-alt"></i></span>
          <span>Secure Payment</span>
          <span class="text">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
      </div>
      <div>
          <span><i class="fas fa-undo-alt"></i></span>
          <span>Easy Returns</span>
          <span class="text">Lorem ipsum dolor sit.</span>
      </div>
  </div>
  
