.logo { 
  max-height: 60px;
}

.btn-outline-primary {
  padding: 0px;
  height: 45px;
  width: 45px;
  border-width: 0px;
}

body{
  background-color: rgb(131, 176, 212);
  margin: 0;
  padding: 0;
}

.navbar{
  position: relative;
  top: 0px;
  z-index: 2;
}

.icon {
  max-height: 34px; /* Adjust the maximum height of the icons */
  margin: 5px;
  padding: 0px;
  align-items: center;
}

.nav-buttons {
  margin-right: unset;
}

.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Change the color according to your design */
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #007bff; /* Change the color according to your design */
  transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.btn-outline-primary {
  border-radius: 100px;
}

.carousel {
  width: 100%;
}

.background-image {
  background-image: url('/Furniture website/images/backwall.png');
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.slogan-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.slogan {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.shop-now-btn {
  color: #fff;
}
